body {
	background-color: #000000;
	color: #FFFFFF;
}
.title {
	padding: 8vw;
}
.graphContainer {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
}
#gauges {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
#lineGraphs {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.gaugeContainer {
	margin: auto;
	display: flex;
	justify-content: center;
	margin-bottom: 5vh;
}