<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/gauge.js"></script>
    <script src="static/js/main.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div class="title">
        <h1>CubSat</h1>
        <p>An educational platform teaching spacecraft engineering through a simplified 1U CubeSat
        </p>
    </div>
    <div class="graphContainer">
        <div id="gauges">
            <span id="velocity_xGaugeContainer" class="gaugeContainer"></span>
            <span id="velocity_yGaugeContainer" class="gaugeContainer"></span>
            <span id="velocity_zGaugeContainer" class="gaugeContainer"></span>
            <span id="angular_xGaugeContainer" class="gaugeContainer"></span>
            <span id="angular_yGaugeContainer" class="gaugeContainer"></span>
            <span id="angular_zGaugeContainer" class="gaugeContainer"></span>
        </div>
        <div id='lineGraphs'>

        </div>
    </div>
    <div id="msgContainer">
    </div>

</body>
</html>