<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/config.js"></script>
    <script src="static/js/gauge.js"></script>
    <script src="static/js/lineGraphs.js"></script>
    <script src="static/js/main.js"></script>

    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <nav>
        <h1 class="brand">CubSat</h1>
        <div class="links">
            <div class="button" id='buttonMain' onclick="switchPage(this)">Main</div>
            <div class="button" id='buttonConsole' onclick="switchPage(this)">Console</div>
            <div class="button" id='buttonVideo' onclick="switchPage(this)">Video Stream</div>
        </div>
    </nav>
    <div class="vizWrapper">
        <div class="vizPage" id="Main">
            <div id="gauges">
                <div class='gaugesSubContainer'>
                    <span id="velocity_xGaugeContainer" class="gaugeContainer"></span>
                    <span id="velocity_yGaugeContainer" class="gaugeContainer"></span>
                    <span id="velocity_zGaugeContainer" class="gaugeContainer"></span>
                </div>
                <div class='gaugesSubContainer'>
                    <span id="angular_xGaugeContainer" class="gaugeContainer"></span>
                    <span id="angular_yGaugeContainer" class="gaugeContainer"></span>
                    <span id="angular_zGaugeContainer" class="gaugeContainer"></span>
                </div>
            </div>
            <div id="map">

            </div>
            <div id='lineGraphs'>
                <div class='mydiv'></div>
                <span id="accel_xLineGraphContainer" class="lineGraphContainer"></span>
                
                 <svg id='mysvg' width="700" height="110">
                </svg>
            </div>
        </div>
        <div class="vizPage" id="Console" style="display: none">
            <div id="telemContainer">
                <table class="box" id="motion">
                    <p>Motion</p>
                    <tr>
                        <td>Acceleration:</td>
                        <td id="acceleration"></td>
                        <td>m/s^2</td>
                    </tr>
                    <tr>
                        <td>Velocity:</td>
                        <td id="velocity"></td>
                        <td>m/s</td>
                    </tr>
                    <tr>
                        <td>Angular Velocity:</td>
                        <td id="angVelocity"></td>
                        <td>rad/s</td>
                    </tr>
                </table>
                <table class="box" id="Environment">
                    <p>Environment</p>
                    <tr>
                        <td>Pressure:</td>
                        <td id="pressure"></td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Temperature:</td>
                        <td id="temperature"></td>
                        <td>C</td>
                    </tr>
                </table>
                <table class="box" id="Health">
                    <p>Health</p>
                    <tr>
                        <td>Shunt Voltage:</td>
                        <td id="shunt_voltage"></td>
                        <td>mV</td>
                    </tr>
                    <tr>
                        <td>Bus Voltage:</td>
                        <td id="bus_voltage"></td>
                        <td>V</td>
                    </tr>
                    <tr>
                        <td>Current:</td>
                        <td id="current"></td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>Power:</td>
                        <td id="power"></td>
                        <td>W</td>
                    </tr>
                </table>
                <table class="box" id="Position">
                    <p>Position</p>
                    <tr>
                        <td>Altitude:</td>
                        <td id="altitude"></td>
                        <td>m</td>
                    </tr>
                    <tr>
                        <td>Position:</td>
                        <td id="position"></td>
                        <td>m</td>
                    </tr>
                    <tr>
                        <td>Coordinates:</td>
                        <td id="coordinates"></td>
                    </tr>
                </table>
            </div>
            <div id="commandConsole">COMMAND</div>  
        </div>
        <div class="vizPage" id="Video" style="display: none">
            <div id="videoContainer">VIDEO</div>
        </div>
    </div>
</body>
</html>